.large.text {
    font-size: 1.2rem;
}

.navbar {
    background-color: #f7f7f7;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.navbar li {
    list-style-type: none;
    padding: 13px 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navbar li a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    font-size: 16px;
    color: black;
}

.linkAdmin:hover {
    transition: 0.25s;
    color: grey !important;
}
