.videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px 0;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.skeleton-video-thumbnail {
  width: 358px;
  height: 260px;
  background-color: #e2e2e2;
}

.fake {
  background-color: #e2e2e2;
  color: #e2e2e2;
}

@media only screen and (max-width: 850px) {
  .videos-container{
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .videos-container{
    grid-template-columns: 1fr;
  }
}

.video-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 10px;
}

.video-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.center-cropped {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: auto;
  background-color: #e2e2e2;
}

.title{
  min-height: 55px;
}

.content-container{
  padding: 10px;
}

.view {
  display: flex;
  align-items: center;
}

.value {
  margin-left: 8px;
}

.icon{
  width: 18px;
}

.value-container{
  display: flex;
}

.bottom-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}